#li-1 {
    background-color: white;
    color:black;
}

#li-2 {
    background-color:orange;
    color: black;
}

#li-3 {
    background-color: red;
    color: white;
}

#li-4 {
    background-color: purple;
    color: white;
}

#li-5 {
    background-color: black;
    color: red;
}

#li-6 {
    background-color: green;
    color: brown;
}

#li-7 {
    background-color: brown;
    color: white;
}